<p>product-list works!</p>

<button (click)="getProductList()" >GetAPI</button>

@if(showTable){
    <table>
        <tr class="p-2">
            @for(key of objectKeys(); track key){
            <th class="p-2">
                {{ key }}
            </th>
            }
        </tr>
        <!-- @for(product of products; track product.id){
            <tr class="p-2">
                @for(datacell of product; track datacell){
                    @if(objectKeys().includes(datacell)){
                        <td>
                            {{ datacell }}
                        </td>
                    }
                }
            </tr>
        } -->
    </table>
}

